* {
    margin: 0;
    padding: 0;
}
html,
body {
    color: #111;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    margin: 20px;
}
main,
h1 {
    max-width: 760px;
    margin: 0 auto;
}
ul {
    list-style: none;
    margin: 30px 0px;
    border-radius: 2px;
}
li {
    margin: 10px 30px;
    font-size: 0.75em;
    padding: 0px 10px;
}
li::after,
ul::after {
    display: block;
    content: "";
    clear: both;
}
label {
    line-height: 15px;
    display: block;
    text-indent: 25px;
}
h1 {
    font-size: 1.5em;
    background: #85b5e4;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
}
h3 {
    border-bottom: 1px solid #cecece;
    font-size: 0.9em;
    font-weight: 500;
    padding: 15px;
    color: #333;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    float: left;
}
input[type="submit"],
a[href="/history"],
a[href="/"] {
    margin: 20px 40px;
    display: block;
    width: 280px;
    background: rgb(226, 195, 195);
    color: #34495e;
    font-family: inherit;
    font-size: inherit;
    padding: 10px 0px;
    border: 1px solid #34495e;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
form {
    background: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result,
h2.bad,
h2.success {
    margin-top: 20px;
}
table {
    margin-top: 20px;
}
th,
tr {
    padding: 10px;
}
th {
    background: #85b5e4;
}
table,
td,
th,
.result {
    border: 1px double #000000;
}
td {
    padding: 10px;
}
.bad {
    color: red;
}
.success {
    color: green;
}
a[href="/history"] {
    float: right;
}

@media screen and (max-width: 645px) {
    input[type="submit"],
    a[href="/history"] {
        display: block;
        float: none;
        margin: 15px auto;
    }
}
